.logo {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5em;
  margin-bottom: 39px;
  &__link {
    text-decoration: none;
    color: $color-default;
    font-family: $font-secondary;
  }
}
